<div class="footer-container">
    <div class="footer-box">
        <div class="footer-item">
            <p>
                <small>
                    <small>CC 2022<br>
                    Privacy Policy: Don't worry about it.<br>
                    Contact: Ask ya motha</small><br>
                    Version:  0.0.0
                </small>
            </p>
        </div>
    </div>
</div>