<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Hobby App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="description.">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="body-container">
      {{{navbar_html}}}

      <div class="content-container">
        <h1>Help Page</h1>
      </div>
      {{{footer_html}}}
    </div>
  </body>
</html>
