<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Hobby App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="description.">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="body-container">
      <div class="nav-container">
        <a class="nav-item" href="/profile">Profile</a>
        <a class="nav-item" href="/">Hobbies</a>
        <a class="nav-item nav-active" href="/help">Help</a>
        <a class="nav-item" href="https://placeholder.com"><img src="https://placeholder.com/wp-content/uploads/2018/10/placeholder.com-logo3.jpg" alt="placeholder" width="125" height="" title="placeholder"></a>
        <a class="nav-item" href="/search">Search</a>
        <a class="nav-item" href="/login">Login</a>
        <a class="nav-item" href="/settings">Settings</a>
      </div>

      <div class="content-container">
        <p><h1>Help Page</h1></p>
      </div>
      <div class="content-container">
        <p><strong>Version:  </strong>  0.0.0 <br><br>
        <strong>How to use:  </strong>  The hobby app brings the hobbies to you!<br>
        All you need to do is either turn on location data, or give your location manually.<br>
        After that, go to the "Hobbies" page, and either accept or reject the suggested hobby.<br>
        After a handful of hobbies have been accepted or rejected, these suggestions will be more<br>
        likley to be something you would enjoy!<br>
        <br><strong>Report a problem</strong><br>
        <br><strong>Suggest a hobby</strong><br>
        <br><strong>Suggest a modification to an existing hobby<strong><br>
        <br><strong>Policies</strong></p>
      </div>
      {{{footer_html}}}
    </div>
  </body>
</html>
