<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Hobby App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="description.">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="body-container">
      <div class="nav-container">
        <a class="nav-item" href="/profile">Profile</a>
        <a class="nav-item nav-active" href="/">Hobbies</a>
        <a class="nav-item" href="/help">Help</a>
        <a class="nav-item" href="https://placeholder.com"><img src="https://placeholder.com/wp-content/uploads/2018/10/placeholder.com-logo3.jpg" alt="placeholder" width="125" height="" title="placeholder"></a>
        <a class="nav-item" href="/search">Search</a>
        <a class="nav-item" href="/login">Login</a>
        <a class="nav-item" href="/settings">Settings</a>
      </div>

      <div class="content-container">
        <div class="button-container">
          <div class="reject">
            <form action="http://localhost:8000" method="POST">
              <input type="hidden" name="action" value="reject">
              <input type="hidden" name="hobby_name" value="{{current_hobby}}">
              <input class="accept-regect-btn" type="submit" value="Reject">
            </form>
          </div>
        </div>
        <div class="image-container">
          <img class="hero-image" src="{{hero_image1}}" alt="{{hobby_picture1}}">
          <img class="hero-image" src="{{hero_image2}}" alt="{{hobby_picture2}}">
          <h2 class="hobby-title">Programming</h2> <!--replace "Programming" with {{hobby_title}}...eventually-->
          Computer programming is the process of performing a particular computation, usually by designing and building an executable computer program. Programming involves tasks such as analysis, generating algorithms, profiling algorithms' accuracy and resource consumption, and the implementation of algorithms.<br>
          Video games, apps, websites, or anything else done with a computer or phone requires some one or even teams of people to design and build them through programming. If you can program, you could build your own website, application, video game, or anything else you can think of!
        </div>
        <div class="button-container">
          <div class="accept">
            <form action="http://localhost:8000" method="POST">
              <input type="hidden" name="action" value="accept">
              <input type="hidden" name="hobby_name" value="{{current_hobby}}">
              <input class="accept-regect-btn" type="submit" value="Accept">
            </form>
          </div>
        </div>
      </div>
      {{{footer_html}}}
    </div>
  </body>
</html>
