<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Hobby App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="description.">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="body-container">
      <div class="nav-container">
        <a class="nav-item" href="/profile">Profile</a>
        <a class="nav-item nav-active" href="/">Hobbies</a>
        <a class="nav-item" href="/help">Help</a>
        <a class="nav-item" href="https://placeholder.com"><img src="https://placeholder.com/wp-content/uploads/2018/10/placeholder.com-logo3.jpg" alt="placeholder" width="125" height="" title="placeholder"></a>
        <a class="nav-item" href="/search">Search</a>
        <a class="nav-item" href="/login">Login</a>
        <a class="nav-item" href="/settings">Settings</a>
      </div>

      <div class="content-container">
        <div class="button-container">
          <div class="reject">
            <form action="http://localhost:8000" method="POST">
              <input type="hidden" name="action" value="dislike">
              <input type="hidden" name="hobby_id" value="{{current_hobby}}">
              <input class="accept-regect-btn" type="submit" value="Dislike">
            </form>
          </div>
        </div>
        <div class="image-container">
          <img class="hero-image" src="{{hero_image1}}" alt="{{hobby_picture1}}">
          <img class="hero-image" src="{{hero_image2}}" alt="{{hobby_picture2}}">
          <h2 class="hobby_name">{{hobby_name}}</h2>
          <h5 class="primary_category">({{primary_category}})</h5>
          <p class="hobby_description">{{hobby_description}}</p>
        </div>
        <div class="button-container">
          <div class="accept">
            <form action="http://localhost:8000" method="POST">
              <input type="hidden" name="action" value="like">
              <input type="hidden" name="hobby_id" value="{{current_hobby}}">
              <input class="accept-regect-btn" type="submit" value="  Like  ">
            </form>
          </div>
        </div>
      </div>
      {{{footer_html}}}
    </div>
  </body>
</html>
