<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Hobby App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="description.">
    <link rel="stylesheet" href="/style.css">
    <script defer src="login.mustache"></script>
  </head>
  <body>
    <div class="body-container">
      {{{navbar_html}}}

      <div class="content-container">
        <h1>Login Page</h1>
      </div>
      <div class="content-container">
        <main id="login-holder">
          {{{login_error}}}
          <form id="login-form" action="/login" method="POST">
            <input type="text" name="uname" id="username" class="login-form-field" placeholder="Username">
            <input type="password" name="passwd" id="password-field" class="login-form-field" placeholder="Password">
            <input type="submit" value="Login" id="login-form-submit">
          </form>
        </main>
      </div>
      {{{footer_html}}}
    </div>
  </body>
</html>

