<!--<div class="nav-container">
    <a class="nav-item" href="/profile">Profile</a>
    <a class="nav-item nav-active" href="/">Hobbies</a>
    <a class="nav-item" href="/help">Help</a>
    <a class="nav-item" href="https://placeholder.com"><img src="https://placeholder.com/wp-content/uploads/2018/10/placeholder.com-logo3.jpg" alt="placeholder" width="125" height="" title="placeholder"></a>
    <a class="nav-item" href="/search">Search</a>
    <a class="nav-item" href="/login">Login</a>
    <a class="nav-item" href="/settings">Settings</a>
</div>