<div class="nav-container">
    <a class="nav-item{{nav_one}}" href="/profile">Profile</a>
    <a class="nav-item{{nav_two}}" href="/">Hobbies</a>
    <a class="nav-item{{nav_three}}" href="/help">Help</a>
    <a class="nav-item{{nav_four}}" href="https://placeholder.com"><img src="https://placeholder.com/wp-content/uploads/2018/10/placeholder.com-logo3.jpg" alt="placeholder" width="125" height="" title="placeholder"></a>
    <a class="nav-item{{nav_five}}" href="/search">Search</a>
    <a class="nav-item{{nav_six}}" href="/login">{{log_btn}}</a>
    <a class="nav-item{{nav_seven}}" href="/settings">Settings</a>
</div>