<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Hobby App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="description.">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="body-container">
      {{{navbar_html}}}

      <div class="content-container">
        <h1>Profile Page</h1>
      </div>
      <div class="content-container">
        test
      </div>
      <div class="content-container">
        <div class="list-container">
          <div class="profile-container">
            Profile Stuff
            <ul>
              <li>Picture</li>
              <li>Username</li>
              <li>Thing3</li>
              <li>Thing4</li>
            </ul>
          </div>
          <div class="accepted-container">
            Accepted Hobbies
            <ul>
              <li>Hobby1</li>
              <li>Hobby2</li>
              <li>Hobby3</li>
              <li>Hobby4</li>
            </ul>
          </div>
        </div>
      </div>
      {{{footer_html}}}
    </div>
  </body>
</html>
