<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Hobby App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="description.">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="body-container">
      <div class="nav-container">
        <a class="nav-item" href="/profile">Profile</a>
        <a class="nav-item" href="/">Hobbies</a>
        <a class="nav-item" href="/help">Help</a>
        <a class="nav-item" href="https://placeholder.com"><img src="https://placeholder.com/wp-content/uploads/2018/10/placeholder.com-logo3.jpg" alt="placeholder" width="125" height="" title="placeholder"></a>
        <a class="nav-item nav-active" href="/search">Search</a>
        <a class="nav-item" href="/login">Login</a>
        <a class="nav-item" href="/settings">Settings</a>
      </div>

      <div class="content-container">
        <h1>Search Page</h1>
      </div>
      <div class="content-container">
        <div>
          <main id="search-bar">
            <input type="text" placeholder="Search">
          </div>
          <p><br>
          This is where you can search for specific hobbies, either by name or tag.<br>
          You can also narrow a search by adding multiple search tags.
          </p>
      </div>
      {{{footer_html}}}
    </div>
  </body>
</html>
