<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Hobby App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="description.">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="body-container">
      {{{navbar_html}}}

      <div class="content-container">
        <h1>Search Page</h1>
      </div>
      <div class="content-container">
        <div>
          <main id="search-bar">
            <form action="/search" method="GET">
              <input type="text" id="search" onkeyup="searchFunction" placeholder="Search...">
              <input type="submit" value="Submit">
            </form>
        </div>
      </div>
        <div class="content-container">
          <p>
          This is where you can search for specific hobbies, either by name or tag.<br>
          You can also narrow a search by adding multiple search tags.
          </p>
        </div>
      {{{footer_html}}}
    </div>
  </body>
</html>
