<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>The Hobby App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="description.">
        <link rel="stylesheet" href="/style.css">
        <script defer src="signup.mustache"></script>
    </head>

    <body>
        <section>
            <div class="form signup">
                <div class="form-content">
                    <header>Signup</header>
                    <form action="#">
                        <div class="field input-field">
                            <input type="email" placeholder="Email" class="input">
                        </div>

                        <div class="field input-field">
                            <input type="password" placeholder="Create password" class="password">
                        </div>

                        <div class="field input-field">
                            <input type="password" placeholder="Confirm password" class="password">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>

                        <div class="field button-field">
                            <button>Signup</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>

</html>